*{
    min-width: 10px;
    min-height: 10px;
    padding: 0;
/*    border: 1px solid black;*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
}
form{
    height: 10vh;
    width: 15vw;
    display: block;
    position: absolute;
    top: 20vh;
    left: 42vw;
    overflow: hidden;
    background: white;
    border: 6px solid black;
    padding: 1vmin 2vmin 1vmin 1vmin;
}
tabletop {
    position:absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(13, 127, 122, 0.93);
    background: #E5EFF7;
    z-index: -5;
    display: flex;
    justify-content: center;
    align-items: center;
}
tabletop>div{
/*    width: 60vw;*/
/*    height: 60vh;*/
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

tabletop deck{
    width: 100px;
/*    height: 100%;*/
    flex: 1 1 auto;
}
tabletop playarea{
    width: 70%;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
tabletop playarea >div{
    height: 25%;
/*    border-radius: 1vw;*/
    display: flex;
    justify-content: space-around;
}
tabletop playarea>div>div{
/*    Set specific size here so things keep in line 
    without card in div*/
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
/*    width: 200px;*/
}
tabletop tokens{
    width: 10vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    flex: 1 0 auto;
}
tabletop card{
    position: relative;
    z-index: 1000;
    transform: scale(.6);
    transition: margin .05s ease-in-out,box-shadow  .05s ease-in-out;
    box-shadow: 0px 5px 10px -01px black;

}
tabletop card:hover{
    margin-bottom: 3px;
    box-shadow: 0px 8px 13px -1px black;

}
/*
tabletop card::after {
    box-shadow: 0px 3px 7px 3px black;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}
tabletop card:hover::after {
    opacity: 1;
}
*/



body{
    width: 0;
    position:absolute;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -6;
}
main {
    position: absolute;
    z-index: -5;
    height: 100vh;
    width: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}
@import url('https://fonts.googleapis.com/css?family=Roboto');
