
    *{
        margin: 0;
        padding: 0;
/*        border: .5px solid black;*/
    }
    body{
        display: flex;
        flex-flow: row;
/*        justify-content: space-around;*/
        justify-content: center;
        background: #e3e3e3;
        overflow: hidden;
    }
    body>.hero{
        width: 65vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content:space-around;
        align-items: center;
    }
    body>.hero>.title{
        font-size: 10vw;
    }
    body>.hero>img{
        width: 70%;
    }
    
    body>.start{
        width: 25vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content:space-around;
        align-items: center;
/*        padding-right: 5vw;*/
    }
    body>.start p{
        font-size: 5em;
        margin: 2em
    }
    body>.start button{
        border: none;
        width: 400px;
        height: 150px;
        background: #38b446;
        border-radius: .3em;
        font-size: 4em;
        box-shadow: 1px 1px 2px 1px black;
        transform: scale(1.0);
        transition: .1s ease-in-out;
    }
    body>.start button:hover{
        box-shadow: 1.5px 1.5px 2.5px 1.5px black;
        transform: scale(1.02);
    }
    body>.start button:active{}
    body>.start button:focus{
        border: none;
        background: #10a221;
        transform: scale(1.02);
        box-shadow: 1.0px 1.0px 2.0px 1.2px black;
        outline:0;
    }
    body>.start button:active{
        transform: scale(1);
        background: #165a1e;
    }
    