*{
/*    min-width: 10px;*/
/*    min-height: 10px;*/
    padding: 0;
/*    border: 1px solid black;*/
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
/*    text-align: center;*/
    position:static;
}

.playarea{
    display: flex;
    flex-flow:row nowrap;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.playarea>*{
    height: 70%;
    background: #ff0000;
    border: 1px solid #00ebff;
/*    height: 50px;*/
    width: 50px;
    margin: 10px;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.playarea .decks{
/*    height: 70%;*/
    width: 5vw
}
.playarea .inPlay{
/*    height: 70%;*/
    display: flex;
    flex: 2 auto;
/*    align-content: stretch;*/
}

.playarea .inPlay>*{
    display: flex;
    flex-flow: row nowrap; 
    flex: 2 auto;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.playarea .inPlay>*>*{
    height: 0;
    width: 0;
    border: solid #ffffff .5px;
}




{}
{}
{}
{}

.playarea .tokens{
/*    height: 70%;*/
    width: 3vw;
}

 card{
    position: relative;
    z-index: 1000;
    top: -0;
    left: -0;
    top: -175;
     left: -100;
     ;
    transform: scale(.5);
    transition: all 1s ease-in-out,margin .05s ease-in-out,box-shadow  .05s ease-in-out;
    box-shadow: 0px 5px 10px -01px black;
    
    
}
 card:hover{
    margin-bottom: 3px;
    box-shadow: 0px 8px 13px -1px black;
}
.cardcontainer{
    position: absolute;
    height: 0;
    max-height: 0;
    width: 0;
    max-width: 0;
    transition: all 1s ease-in-out;
}




@import url('https://fonts.googleapis.com/css?family=Roboto');
